$simple-list: 'simple-list';
.#{$simple-list} {
  &__item_title {
    &::before {
      vertical-align: middle;
      content: '';
      width: 4px;
      height: 4px;
      background-color: gray;
      display: inline-block;
      border-radius: 50%;
      margin-right: 4px;
    }
  }
}
